.login-background {
  background-image: url('/src/assets/images/lm.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

  
  .login-container {
    max-width: 90%; /* Make the container responsive */
    width: 100%; /* Full width on smaller screens */
    padding: 20px; /* Add some padding */
    background: rgba(255, 255, 255, 0.288); /* A slight transparency to blend with the background */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    .login-background {
      background-position: top; /* Adjust background positioning for mobile */
    }
  
    .login-container {
      padding: 10px; /* Reduce padding on smaller screens */
    }
  }
  
  