/* ResetPassword.css */
.swal-container {
  width: 300px;
  font-size: 14px;
  border-radius: 10px; /* Rounded corners for the notification */
}

.swal-title {
  font-size: 18px;
}

.swal-text {
  font-size: 14px;
}

/* Additional styles for success and error notifications */
.swal-success {
  background: #dff0d8; /* Success background color */
  color: #3c763d; /* Success text color */
}

.swal-error {
  background: #f2dede; /* Error background color */
  color: #a94442; /* Error text color */
}
